{% extends 'base.html.twig' %}

{% block title %}New SpaceShip{% endblock %}

{% block body %}
    <h1>Create new SpaceShip</h1>

    {{ include('space_ship/_form.html.twig') }}

    <a href="{{ path('app_space_ship_index') }}">back to list</a>
{% endblock %}
